// app global css in SCSS form
@import './fonts.scss';

h1 {
  line-height: 1rem;
}

.q-card {
  border-radius: 16px;
}


.subcard-width {
  width: 800px;
  @media (max-width: 900px) {
    width: 90%;
  }
  @media (max-width: 600px) {
    width: 95%;
  }
}

.page-width {
  width: 90%;
}

.page-spacing {
  margin-bottom: 32px;
  min-height: 700px !important;
}
